html, body {
  padding: 0;
  margin: 0;
  background-image: url("ferro-1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.toggle_btn{
  height: 30px;
  width: 30px;
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
  display: inline-block;

}

.toggle_btn span {
  height: 3px;
  background-color:white;
  width:100%;
  position: absolute;
  top: 20px;
  left: 0;
}


.toggle_btn span:before{
  content: '';
  height: 3px;
  background-color: white;
  width: 100%;
  position: absolute;
  top: -10px;
  left: 0;
}

.toggle_btn span:after{
  content: '';
  height: 3px;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
}

.menu {
  height: 1000px;
  background-color: #e31019;
  width: 100%;
}

.menu a{
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
  display: block;
  padding-top: 50px;
  text-decoration: none;
  font-size: 50px;
}

.logo{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.nav{
  margin-left: -100%;
  transition-duration: 0.5s;

}
.nav_open{
  margin-left: 0px;
  transition-duration: 0.5s;
}

.lg{
margin-right: 1610px;
color: black;
line-height: 0px;
list-style:none;
text-decoration:none;
}
